body {
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Inline code */
code {
  background: #dddddd;
  padding: 2px 4px;
  border-radius: var(--radius-sm);
  font-family: var(--font-mono);
}
